*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.message{
    font-weight: bold;
    font-size: 16px;
}
/* .form-group{
    margin-top: 1rem;
} */
/*  */

.input{
    
    padding-left: 1rem;
    width: 350px;
    height: 40px;
    border-radius: 30px;
    margin-top: 1rem;
    border-style: none;
}
.textarea{
    margin-top: 1rem;
    width: 350px;
    border-radius: 20px;
    border-style: none;
    padding-left: 1rem;
    color: black;
}
.button{
    margin-top: 1rem;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    background-color: #8183f0;
}
.btn{
    color: #ffffff;
    text-decoration: none;
    
}